<footer class="footer-container">
    <div class="top__footer">
        <img src="/Assets/Images/Icons/Logologo.svg" alt="">
        <p class="title__footer">Our vision is to provide convenience <br>and help increase your sales business.</p>
    </div>



    <div class="about-us">
        <ul class="about">
            <li class="item__bold">About</li>
            <li class="item__footer">How it works</li>
            <li class="item__footer">Featured</li>
            <li class="item__footer">Partnership</li>
            <li class="item__footer">Bussiness Relation</li>
        </ul>
        <ul class="socials">
            <li class="item__bold">Socials</li>
            <li class="item__footer">Discord</li>
            <li class="item__footer">Instagram</li>
            <li class="item__footer">Twitter</li>
            <li class="item__footer">Facebook</li>
        </ul>
    </div>

    <div class="community-container">
        <ul class="community">
            <li class="item__bold">Community</li>
            <li class="item__footer">Events</li>
            <li class="item__footer">Blog</li>
            <li class="item__footer">Podcast</li>
            <li class="item__footer">Invite a friend</li>
        </ul>
    </div>

</footer>
<div class="footer">
    <div class="text__footer-security">
        <a class="sec">Privacy & Policy</a>
        <a>Terms & Condition</a>
    </div>
    <div class="text__footer-date">
        <a>©2022 MORENT. All rights reserved</a>
    </div>
</div>