    <!-- phone html code -->
    <header class="header-container">
        <div class="top-header">
            <img src="/Assets/Images/Icons/Logologo.svg" alt="" class="Logo__header">
            <img src="/Assets/Images/Icons/Image.svg" alt="" class="image__header">
        </div>
        <div class="bot-header">
            <form action="" class="form-header">
                <i class="bi bi-search"></i>
                <input type="text" class="filter-form" placeholder="Search something here" maxlength="25">
                <button class="btn-form"><img src="/Assets/Images/Icons/filter.svg" alt=""></button>
            </form>
        </div>
    </header>
    <!-- desktop html code -->
    <header class="header-desktop">
        <div class="left-header">
            <img src="/Assets/Images/Icons/Logologo.svg" alt="" class="Logo__header">
            <form action="" class="form-header">
                <i class="bi bi-search"></i>
                <input type="text" class="filter-form" placeholder="Search something here" maxlength="25">
                <button class="btn-form"><img src="/Assets/Images/Icons/filter.svg" alt=""></button>
            </form>
        </div>
        <div class="right-header">
            <ul class="list-icons">
                <li class="item"><i class="icon-header bi bi-heart-fill"></i></li>
                <li class="item"><i class="icon-header bi bi-bell-fill"></i></li>
                <li class="item"><i class="icon-header bi bi-gear-fill"></i></li>
                <li class="item-image"> <img src="/Assets/Images/Icons/Image.svg" alt="" class="image__header"></li>
            </ul>
        </div>
    </header>
    <!-- Picture of the middle car -->
    <div class="image-car-header">
        <img src="/Assets/Images/Icons/Ads 1.svg" alt="" class="car__header">
        <img src="/Assets/Images/Icons/Ads 2.svg" alt="" class="car__header-d">
    </div>
    <!-- Filters section -->
    <section class="filter-card">
        <div class="pick-up">
            <div class="top__card-part">
                <input type="radio" class="radio__part" name="radio">
                <p class="text__part">Pick - Up</p>
            </div>
            <div class="bot__card-part">
                <div class="location__part">
                    <h4 class="title-card">Locations</h4>
                    <select name="" class="filter-part">
                        <option value="">Semarang</option>
                        <option value="">USA</option>
                        <option value="">Tokyo</option>
                    </select>
                </div>
                <div class="date__part">
                    <h4 class="title-card">Date</h4>
                    <select name="" class="filter-part">
                        <option value="">20 July 2023</option>
                        <option value="">15 April 2023</option>
                        <option value="">10 Jun 2023</option>
                    </select>
                </div>
                <div class="time__part">
                    <h4 class="title-card">Time</h4>
                    <select name="" class="filter-part">
                        <option value="">07.00</option>
                        <option value="">08.00</option>
                        <option value="">09.00</option>
                    </select>
                </div>
            </div>
        </div>



        <button class="btn mid-btn"><i class="bi bi-arrow-down-up"></i></button>



        <div class="drop-off">
            <div class="top__card-part">
                <input type="radio" class="radio__part" name="radio">
                <p class="text__part">Drop - Off</p>
            </div>
            <div class="bot__card-part">
                <div class="location__part">
                    <h4 class="title-card">Locations</h4>
                    <select name="" class="filter-part">
                        <option value="">Semarang</option>
                        <option value="">USA</option>
                        <option value="">Tokyo</option>
                    </select>
                </div>
                <div class="date__part">
                    <h4 class="title-card">Date</h4>
                    <select name="" class="filter-part">
                        <option value="">20 July 2023</option>
                        <option value="">15 April 2023</option>
                        <option value="">10 Jun 2023</option>
                    </select>
                </div>
                <div class="time__part">
                    <h4 class="title-card">Time</h4>
                    <select name="" class="filter-part">
                        <option value="">07.00</option>
                        <option value="">08.00</option>
                        <option value="">09.00</option>
                    </select>
                </div>
            </div>
        </div>
    </section>

