    <!-- phone html code -->
    <header class="header-container">
        <div class="top-header">
            <img src="/Assets/Images/Icons/Logologo.svg" alt="" class="Logo__header">
            <img src="/Assets/Images/Icons/Image.svg" alt="" class="image__header">
        </div>
        <div class="bot-header">
            <form action="" class="form-header">
                <i class="bi bi-search"></i>
                <input type="text" class="filter-form" placeholder="Search something here" maxlength="25">
                <button class="btn-form"><img src="/Assets/Images/Icons/filter.svg" alt=""></button>
            </form>
        </div>
    </header>
<!-- desktop html code -->
    <header class="header-desktop">
        <div class="left-header">
            <img src="/Assets/Images/Icons/Logologo.svg" alt="" class="Logo__header">
            <form action="" class="form-header">
                <i class="bi bi-search"></i>
                <input type="text" class="filter-form" placeholder="Search something here" maxlength="25">
                <button class="btn-form"><img src="/Assets/Images/Icons/filter.svg" alt=""></button>
            </form>
        </div>
        <div class="right-header">
            <ul class="list-icons">
                <li class="item"><i class="icon-header bi bi-heart-fill"></i></li>
                <li class="item"><i class="icon-header bi bi-bell-fill"></i></li>
                <li class="item"><i class="icon-header bi bi-gear-fill"></i></li>
                <li class="item-image"> <img src="/Assets/Images/Icons/Image.svg" alt="" class="image__header"></li>
            </ul>
        </div>
    </header>