<section class="popular-car">
    <div class="popular-tabs">
        <div class="car-tab">
            <div class="car-name">
                <h3>All New Rush</h3>
                <i class="bi bi-heart"></i>
            </div>
            <p class="car-model">SUV</p>
            <div class="Car-specifications">
                <img src="/Assets/Images/car/car.svg" alt="" class="car-img">
                <ul class="car-items">
                    <li class="car__item">
                     <i class="bi bi-fuel-pump-fill"></i>
                     <p>70L</p>
                    </li>
                    <li class="car__item">
                     <i class="bi bi-wrench-adjustable-circle-fill"></i>
                     <p>Manual</p>
                    </li>
                    <li class="car__item">
                     <i class="bi bi-people-fill"></i>
                     <p>6 People </p>
                    </li>
                </ul>
            </div>
            <div class="car-footer">
             <div class="car__price">
                 <h3 class="price-one">$72.00/ <span>day</span></h3>
                 <p class="price-two">$80.00</p>
             </div>
             <div class="car__btn">
                 <button class="btn btn--car">
                  Rental Now
                 </button>
             </div>
         </div>
        </div>
    </div>
    <div class="popular-tabs">
        <div class="car-tab">
            <div class="car-name">
                <h3>All New Rush</h3>
                <i class="bi bi-heart"></i>
            </div>
            <p class="car-model">SUV</p>
            <div class="Car-specifications">
                <img src="/Assets/Images/car/car.svg" alt="" class="car-img">
                <ul class="car-items">
                    <li class="car__item">
                     <i class="bi bi-fuel-pump-fill"></i>
                     <p>70L</p>
                    </li>
                    <li class="car__item">
                     <i class="bi bi-wrench-adjustable-circle-fill"></i>
                     <p>Manual</p>
                    </li>
                    <li class="car__item">
                     <i class="bi bi-people-fill"></i>
                     <p>6 People </p>
                    </li>
                </ul>
            </div>
            <div class="car-footer">
             <div class="car__price">
                 <h3 class="price-one">$72.00/ <span>day</span></h3>
                 <p class="price-two">$80.00</p>
             </div>
             <div class="car__btn">
                 <button class="btn btn--car">
                  Rental Now
                 </button>
             </div>
         </div>
        </div>
    </div>
    <div class="popular-tabs">
        <div class="car-tab">
            <div class="car-name">
                <h3>All New Rush</h3>
                <i class="bi bi-heart"></i>
            </div>
            <p class="car-model">SUV</p>
            <div class="Car-specifications">
                <img src="/Assets/Images/car/car.svg" alt="" class="car-img">
                <ul class="car-items">
                    <li class="car__item">
                     <i class="bi bi-fuel-pump-fill"></i>
                     <p>70L</p>
                    </li>
                    <li class="car__item">
                     <i class="bi bi-wrench-adjustable-circle-fill"></i>
                     <p>Manual</p>
                    </li>
                    <li class="car__item">
                     <i class="bi bi-people-fill"></i>
                     <p>6 People </p>
                    </li>
                </ul>
            </div>
            <div class="car-footer">
             <div class="car__price">
                 <h3 class="price-one">$72.00/ <span>day</span></h3>
                 <p class="price-two">$80.00</p>
             </div>
             <div class="car__btn">
                 <button class="btn btn--car">
                  Rental Now
                 </button>
             </div>
         </div>
        </div>
    </div>
    <div class="popular-tabs">
        <div class="car-tab">
            <div class="car-name">
                <h3>All New Rush</h3>
                <i class="bi bi-heart"></i>
            </div>
            <p class="car-model">SUV</p>
            <div class="Car-specifications">
                <img src="/Assets/Images/car/car.svg" alt="" class="car-img">
                <ul class="car-items">
                    <li class="car__item">
                     <i class="bi bi-fuel-pump-fill"></i>
                     <p>70L</p>
                    </li>
                    <li class="car__item">
                     <i class="bi bi-wrench-adjustable-circle-fill"></i>
                     <p>Manual</p>
                    </li>
                    <li class="car__item">
                     <i class="bi bi-people-fill"></i>
                     <p>6 People </p>
                    </li>
                </ul>
            </div>
            <div class="car-footer">
             <div class="car__price">
                 <h3 class="price-one">$72.00/ <span>day</span></h3>
                 <p class="price-two">$80.00</p>
             </div>
             <div class="car__btn">
                 <button class="btn btn--car">
                  Rental Now
                 </button>
             </div>
         </div>
        </div>
    </div>
</section>